body {
  background-color: ##95a5a6;
}
h1 {
font-family: "Georgia";
text-decoration: underline;
text-align: center;
width: 80%;
}
nav {
font-family: sans-serif;
font-weight: bold;
background-color: #3498db;
margin: 1em;
padding: 1%;
border: .1em solid black;
border-radius: .5em;
}
#education {
text-align: center;
}
#Vollyball {
border-radius: 5%;
border: 1em solid #000;
background-color: #fff;
}
#work {
border-radius: 5%;
border: 1em solid #000;
text-transform: uppercase;
}
#map {
  height: 400px;
  width: 80%;
       }
 #floating-panel {
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
      #floating-panel {
        margin-left: -52px;
      }
